.row-header{
	margin: 0px auto;
	padding: 0px auto;
	#font-family: "Courier New", Courier, monospace;
}

.row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
	#font-family: "Courier New", Courier, monospace;
}

.footer{
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
	background-color: lightblue;
	#font-family: "Courier New";
}

.jumbotron{
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background-color: lightblue;
}

.address{
	font-size: 80%;
	margin: 0px;
	color: black;
}